<% layout('./layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Hotel</h1>
  <div class="col-6 offset-3">
    <form
      action="/hotels/<%= hotel._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="hotel[title]"
          value="<%= hotel.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="hotel[location]"
          value="<%= hotel.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="hotel[image]"
          value="<%= hotel.image %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="hotel[description]"
          required
        >
          <%= hotel.description %>
        </textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price"
          >Hotel Price
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              id="price"
              name="hotel[price]"
              value="<%= hotel.price %>"
              required
            />
            <span class="input-group-text">.00</span>
          </div>
        </label>
      </div>

      <button class="btn btn-success mb-3">Update Hotel</button>
    </form>
    <div>
      <a href="/hotels/<%= hotel._id %>">Back</a>
    </div>
  </div>
</div>
