<% layout('./layouts/boilerplate') %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="card">
      <img
        srcset="<%= hotel.image %> 2x"
        src="<%= hotel.image %>"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title"><%= hotel.title %></h5>
        <p class="card-text"><%= hotel.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= hotel.location %></li>
        <li class="list-group-item">$<%= hotel.price %>/night</li>
      </ul>
      <div class="card-body">
        <a
          href="/hotels/<%= hotel._id %>/edit"
          class="card-link btn btn-warning"
          >Edit Hotel</a
        >
        <form
          class="d-inline"
          action="/hotels/<%= hotel._id %>?_method=DELETE "
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <a href="/hotels">Back to all Hotels</a>
    </div>
  </div>
  <div class="col-6">
    <h2>Leave a Review</h2>
      <form
        action="/hotels/<%= hotel._id %>/reviews"
        method="POST"
        class="mb-3 validated-form"
        novalidate
      >
        <div class="mb-3">
          <label for="rating">Rating</label>
          <input
            class="form-range"
            type="range"
            min="1"
            max="5"
            name="review[rating]"
            id="rating"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Submit Review</button>
      </form>
      <% for(let review of hotel.reviews) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rating: <%= review.rating %> stars</h5>
          <p class="card-text">Comment: <%= review.body %></p>
          <form action="/hotels/<%=hotel._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</div>
