<% layout('./layouts/boilerplate') %>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
  Launch demo modal
</button> -->




<div class="row">
  <div class="col-6">
    <div class="card">
      <img
        srcset="<%= hotel.image %> 2x"
        src="<%= hotel.image %>"
        class="card-img-top"
        alt="..."
        style="width:500px;height:300px;"
      />
      <div class="card-body">
        <h5 class="card-title"><%= hotel.title %> </h5>
        <p class="card-text"><%= hotel.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= hotel.location %></li>
        <li class="list-group-item"> $<%= hotel.price %>/night</li>
        <li class="list-group-item"> <b>Hotel uploaded by <%= hotel.author.username %></b></li>
      </ul>

      <% if(currentUser && hotel.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a
          href="/hotels/<%= hotel._id %>/edit"
          class="card-link btn btn-warning"
          >Edit Hotel</a
        >
        <form
          class="d-inline"
          action=""
          method=""
        >
          <button class="btn btn-danger" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">Delete</button>
        </form>
      </div>
      <% } %>
      <br>
      <a href="/hotels">Back to all Hotels</a>
    </div>
  </div>
  <% if(currentUser) {%>
  <div class="col-6">
    <h2>Leave a Review</h2>
      <form
        action="/hotels/<%= hotel._id %>/reviews"
        method="POST"
        class="mb-3 validated-form"
        novalidate
      >
        <div class="mb-3">
          <label for="rating">Rating</label>
          <input
            class="form-range"
            type="range"
            min="1"
            max="5"
            name="review[rating]"
            id="rating"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Submit Review</button>
      </form>
      <% for(let review of hotel.reviews) { %>
      <div class="card mb-3">
        <div class="card-body">

         <h5 class="card-title">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" style="width:45px;height:50px;">
          <b><%= review.author.username %> </b> </h5>

        <p class="card-text"> <%= review.rating %> stars</p>
        <p class="card-text"> <%= review.body %></p>

          <% if(currentUser && review.author.equals(currentUser._id)) { %>
          <form action="" method="">
            <button class="btn btn-sm btn-danger" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal<%= review._id %>">Delete</button>
          </form>
          <% } %>

        </div>
      </div>
    <% } %>
    </div>
<% } else {%>
<% if(hotel.reviews <= 0){ %>
  
   <div class="col-6">
    <h2>This hotel has no reviews yet</h2>
    <form action="/login" method="get">
      <button class="btn btn-sm btn-secondary" type="button submit">Log-in to leave a review</button>
    </form>
    <!-- <p> <a href=/hotels/<%= hotel.id %>/reviews> Log-in to leave a review</a></p> -->


  <% } %>
  <div class="col-6">
  <% for(let review of hotel.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" style="width:45px;height:50px;">
          <b><%= review.author.username %> </b> </h5>

        <p class="card-text"> <%= review.rating %> stars
        </p>
        <p class="card-text"> <%= review.body %></p>
        
        <% if(currentUser && review.author.equals(currentUser._id)) { %>
        <form action="" method="">
          <button class="btn btn-sm btn-danger" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal<%= review._id %>">Delete</button>
        </form>
        <% } %>

      </div>
    </div>
  <% } %>
</div>
  
  
  <!-- <div class="col-6">
    <h2>This hotel has no reviews yet</h2>
    <p> <a href="/login"> Log-in to leave a review</a></p> -->
    <% } %>
    </div>
  </div>
</div>

<!-- Modal -->
<% for(let review of hotel.reviews) { %> %>

<div class="modal fade" id="exampleModal<%= review._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this review?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <form action="/hotels/<%=hotel._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
          <button type="button submit" class="btn btn-danger">Yes, Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
<% } %>
 <!-- ////////////////////////////////////////// -->

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this hotel?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <form action="/hotels/<%= hotel._id %>?_method=DELETE"
          method="POST">
          <button type="button submit" class="btn btn-danger">Yes, Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div> 